<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mark-calculator</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>

<body>
    <div class="flex items-center justify-center pt-16">
        <div class="h-96  w-2/4 bg-red-500  rounded-xl flex justify-center items-center pb-28 pt-52">
            <h1 class="font-semibold font-poppins text-2xl pt-5 absolute top-14">Calculate your marks</h1>
            <div class="h-80 w-4/5 bg-yellow-600 mt-24 "></div>
        </div>
    </div>
</body>

</html>