<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mark-calculator</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>

<body>
    <div class="flex items-center justify-center pt-16">
        <div class="h-96 w-2/4 bg-red-500  rounded-xl flex justify-center">
            <h1 class="font-semibold font-poppins text-2xl pt-5">Calculate your marks</h1>
        </div>
    </div>
</body>

</html>